<template>
    <div>
        <!-- <button v-if="isModerator()" class="btn btn-danger btn-sm float-right" @click="deleteMessages()">Delete Messages</button> -->
        <br />
        <br />
        <ul class="chat">
            <li
                :class="[currentUser.id == message.sender.id ? 'right' : 'left', message.moderator ? 'moderator' : 'guest']"
                class="clearfix mb-1"
                v-for="(message, index) in messages.data"
                :key="index"
            >
                
                <div class="chat-body clearfix">
                    <a class="delete-msg" href="#" v-if="isModerator()" @click="deleteMessage(message)"><span class="icon-cancel"></span></a>
                    <div v-if="1 || currentUser.id != message.sender.id" class="header">
                        <strong class="primary-font">{{ message.sender.name }}</strong>
                    </div>
                    <p>{{ message.body }}</p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import Pusher from "pusher-js"
// import Echo from "laravel-echo"
export default {
  props: ["conversation"],

  data: () => ({
    messages: []
  }),
  computed: {
    currentUser() {
      return window.participant;
    }
  },
  methods: {
    
    isModerator() {

      return window.isModerator;
    },
    fetchMessages() {
      axios
        .get(
          `/chat/conversations/${this.conversation}/messages?participant_id=${window.participant.id}&participant_type=${window.participant.type}`
        )
        .then(response => {
          
          setTimeout(function(){
            
              if ( $('.chat-messages-warp').attr('data-autoscroll') == '1' ) 
              {
                $('.chat-messages-warp')[0].scrollTop = $('.chat-messages-warp')[0].scrollHeight
              }
            
          }, 200)
          
          let messages = response.data;
          messages.data = messages.data.slice().reverse();
          this.messages = messages;
        });
    },

    deleteMessages() {
      axios
        .delete(
          `/chat/conversations/${this.conversation}/messages?participant_id=${window.participant.id}&participant_type=${window.participant.type}`
        )
        .then(response => {
          let messages = response.data;
          messages.data = messages.data.slice().reverse();
          this.messages = messages;
        });
    },

    deleteMessage(message) {
      axios
        .delete(
            `/chat/conversations/${this.conversation}/messages-custom/${message.id}?participant_id=${window.participant.id}&participant_type=${window.participant.type}`
        )
        .then(response => {
            let messages = response.data;
            messages.data = messages.data.slice().reverse();
            this.messages = messages;
        });


        // console.log(message)
        return false;
    },

    enablePusher() {
      // window.Echo = new Echo({
      //   broadcaster: 'pusher',
      //   key: 'APP_KEY',
      //   forceTLS: true,
      //   authEndpoint: '/broadcasting/auth'
      // });
      let pusher = new Pusher(process.env.MIX_PUSHER_APP_KEY, {
          cluster: process.env.MIX_PUSHER_APP_CLUSTER,
          authEndpoint: '/pusher/auth',
          auth: {
              headers: {
                  'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
              }
          }
      });

      let channel = pusher.subscribe(
          `private-mc-chat-conversation.${this.conversation}`
      );
      channel.bind("Musonza\\Chat\\Eventing\\MessageWasSent", data => {
          console.log('xxx');
          this.messages.data.push(data.message);
      });
    }
  },

  created() {
      this.fetchMessages();
      setTimeout(function(){
        $('.chat-messages-warp')[0].scrollTop = $('.chat-messages-warp')[0].scrollHeight
      }, 500)
      if (Site.PusherEnabled )
      {
          this.enablePusher();
      } else {

          this.interval = setInterval( function() {
              console.log('xxxx')
              // console.log($('.chat-messages-warp')[0].scrollHeight)
              // $('.chat-messages-warp')[0].scrollTop = $('.chat-messages-warp')[0].scrollHeight
            this.fetchMessages()
          }.bind(this), 3000 );

          this.$root.$on('messageSent', function(msg){

              this.fetchMessages()

          }.bind(this))
      }
  }
};
</script>
<style lang="scss" scoped></style>