=page-title
	font-size: 49px
	line-height: 1

=moderator-text
	font-size: 20px
	line-height: 24px

=moderator-title
	font-size: 24px
	line-height: 28px
	font-weight: 700
	 
=overlay-text
	font-size: 30px
	line-height: 1
	text-transform: uppercase
	font-weight: 300


=speaker-text
	font-size: 39px
	line-height: 44px
	+media('>=tablet', '<ipad-pro')
		font-size: 24px
		line-height: 28px

=speaker-title
	font-size: 49px
	line-height: 54px
	+media('>=tablet', '<ipad-pro')
		font-size: 28px
		line-height: 34px

=font-light
	font-family: $main-font
	font-weight: 300

=font-regular
	font-family: $main-font
	font-weight: 400

=font-semibold
	font-family: $main-font
	font-weight: 600

=font-bold
	font-family: $main-font
	font-weight: 700

=blink
	+transition(none)
	+animation(blink-animation 1.2s none infinite)

=blink-error
	+transition(none)
	+animation(blink-error 1.2s none 2s)
