// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700')

$main-font: "Nunito", sans-serif

$black: #000
$white: #fff

$light-grey: #e8e8e8
$dark-grey: #414042
$green: #00a651
$blue: #66b7e2
$red: #ed1c24
$orange: #fbdcbb

$light-green: #99dab8
$light-red: #ff999a

$text-grey: #b3b3b5

$pink: #d7367c

$anchor-color: $black
$anchor-hover-color: $black 






$grid-gutter-width: 20px
// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default

// Medium screen / desktop
$container-desktop:            (940 + $grid-gutter-width) !default
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default

// Large screen / wide desktop
// $container-large-desktop:      (1220 + $grid-gutter-width) !default
$container-large-desktop: (1108 + $grid-gutter-width) !default
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default



  
@keyframes blink-animation
	0%
		background-color: $light-red
		color: $black
	50%
		background-color: $red
		color: $white
	100%
		background-color: $light-red
		color: $black
  
  
@-webkit-keyframes blink-animation
	0%
		background-color: $light-red
		color: $black
	50%
		background-color: $red
		color: $white
	100%
		background-color: $light-red
		color: $black


@keyframes blink-error
	0%
		color: $black
	50%
		background-color: $red
		color: $red
	100%
		color: $black
  
  
@-webkit-keyframes blink-error
	0%
		color: $black
	50%
		color: $red
	100%
		color: $black
