.auth-form-container
	width: 50%
	margin: 100px auto
	font-size: 20px

	label
		+font-regular

	.card-header
		+font-semibold
		text-transform: uppercase
		border-bottom: 1px solid $light-grey
		text-align: center
		border-radius: 0
		padding: 5px 0
		display: block

	.btn-primary
		border-radius: 0
		border: none

	.form-control
		border-radius: 0


	.card-body
		padding: 20px 0


	.invalid-feedback
		strong
			+font-regular
			color: $red
			font-size: 15px
			line-height: 20px

	a
		+transition(none)

.logout-container
	font-size: 16px
	line-height: 18px
	+font-light
	color: $blue

