.content-backstage
	padding:  20px 0
	font-size: 14px
	line-height: 18px
	iframe
		max-width: 100%
		height: auto
		
	+media('<tablet')
		padding: 20px 0

	.backstage-heading
		+display-flex
		+justify-content(space-between)

	h1.page-title
		margin: 0 0 40px
		


	.panel-comments
		margin-top: 30px

	.comments-buttons
		+display-flex
		+flex-flow(row wrap)
		+justify-content(space-between)


	.input-group
		margin: 0 0 15px


	.logout-container
		float: right


	form
		clear: both


	.backstage-tabs
		.tab-pane
			padding: 20px 0


	.footer-banner-wrap
		

	.global-pass-container
		display: none
		&.active
			display: block


.backstage-main-header
	.navbar-nav
		font-size: 14px
		line-height: 20px