
ul.chat
    list-style: none
    padding: 0 10px
    li
        .chat-body
            border-radius: 0.6rem
            width: fit-content
            padding: 8px 12px
            min-width: 75%
            .header
                font-size: .85rem
          
            p
                margin: 0
          

        &.left 
            .chat-body 
                float: left
                background: white
          

        &.right 
            .chat-body 
                float: right
                background: rgb(170, 167, 167)


        &.moderator 
            .chat-body
                background: rgba($black, .1)
            strong
                color: red
            


