// Reset

html, body
	-webkit-font-smoothing: antialiased

ul, ol, li 
	margin: 0
	padding: 0



// Colors

a
	color: $anchor-color
	+transition(all .8s cubic-bezier(.53,.75,.47,.99))
a:hover, a:active, a:visited, a:focus
	text-decoration: none
	color: $anchor-hover-color
a:focus
	outline: none




//* Chrome/Opera/Safari */
::-webkit-input-placeholder  
	color: inherit
	opacity: 1
//* Firefox 19+ */
::-moz-placeholder
	color: inherit
	opacity: 1

//* IE 10+ */
::-ms-input-placeholder
	color: inherit
	opacity: 1

//* Firefox 18- */
::-moz-placeholder
	color: inherit
	opacity: 1

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
	
	-webkit-text-fill-color: $black
	-webkit-box-shadow: 0 0 20000px 0 transparent inset
	// transition: background-color 5000s ease-in-out 0s
	background: transparent
	// color: $dark-grey  


input:focus
	outline: none

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

.nobreak
	white-space: nowrap
	
input,
button,
a
	&:focus
		outline: none



main
	font-size: 24px
	line-height: 28px
	+font-regular