

.content-live
	// +media('<tablet')
	// 	position: fixed
	// 	z-index: 10
	// 	left: 0
	// 	top: 0
	// 	width: 100%
	// 	height: 100%

	.alert
		font-size: 14px
		padding: 5px 10px

	.downloads
		margin: 0px 0 10px
		+display-flex
		font-size: 13px
		line-height: 20px

		a
			text-decoration: none
			padding: 5px
			border: 1px solid $black
			&:hover
				background: $black
				color: white

			span
				margin-right: 4px
		a + a 
			margin-left: 5px


	.container-fluid
		max-width: 1130px

		+media('>=desktop')
			@media (max-height: 836px) 
				max-width: calc((100vh - 189px) * 16/9)
				min-width: 768px

				.live-container .form-group-comment

		+media('<tablet')
			padding-left: 5px
			padding-right: 5px
	

	header.header
		background: #414042
		color: white
		height: 110px
		width: 100%

		.language-wrap
			background: transparent
			color: yellow
			// border-color: yellow
			font-size: 13px
			float: right
			margin: 10px 0 0
			select
				color: yellow
				border: 1px solid yellow
				font-size: 13px
				background: transparent


		h1
			display: none

		.logo-container 
			width: 220px
			height: 110px
			+display-flex
			+align-items(center)

			img
				display: block
				width: 100%
				height: auto
		+media('<tablet')
			height: 80px
			.logo-container
				width: 165px
				padding-left: 5px
				height: 80px

.live-container
	margin: 15px 0 15px
	background: $light-grey
	+box-shadow(0px 2px 40px 0px rgba($black, 0.3))
	border: 1px solid darken($light-grey, 10)
	.live-embed-container
		min-height: 100px
		overflow: hidden
		img
			width: 100%
			height: auto
			+user-select(none)

	

	

	.form-group
		width: 30%
		margin: 0 10px

	.form-group-comment
		width: 60%

	.form-group-submit
		width: auto
		margin: 0
		padding: 0

	.form-group-counter
		width: 8%
		font-size: 18px
		color: white

		+media('>desktop')
			width: 5%

	input[type="text"]
		height: 50px
		width: 100%
		// +border-radius(30px)
		border: none
		padding: 10px 10px
		line-height: 40px
		font-size: 20px
		background: transparent
		border: none
		color: white


	button[type="submit"]
		background: transparent
		border: none
		display: block
		cursor: pointer
		height: 50px
		width: 130px
		line-height: 40px
		padding: 5px 10px
		background: $blue
		+display-flex
		+align-items(center)
		+justify-content(center)
		font-size: 20px
		border: none

	.form-row
		+display-flex
		+flex-flow(row nowrap)
		+justify-content(space-between)
		+align-items(center)
		padding: 0 10px

	@media (max-height: 794px)
		+media('landscape')
		.live-embed-container
			// max-height: calc(100vh - 178px)

			iframe
				// max-height: calc(100vh - 178px)

	+media('>=tablet', '<=ipad-pro')
		.live-embed-container
			// max-height: 58vh

			iframe
				// max-height: 58vh				


	+media('<tablet')
		margin: 5px 0 10px
		// .form-row
		// 	+flex-flow(row wrap)
		// .form-group
		// 	order: 1
		// 	width: 80%
		// 	margin: 0 0 10px
		// 	height: 50px
		.form-group-counter
			order: 1
			width: 5%
			top: 70px
			position: relative
			left: 10px
			display: none
		// .form-group-submit
		// 	order: 2
		// 	width: 15%
		// 	padding-top: 22px
		// 	margin-bottom: 0
		// 	button
		// 		width: 50px
		// 		img
		// 			width: 100%
		// .form-group-comment
		// 	order: 3
		// 	width: 80%
		// 	margin-top: 0
		// 	margin-bottom: 0

		input[type="text"]
			height: 50px
			line-height: 30px
			padding: 0px 10px
			font-size: 20px	



.info-note
	display: none
	margin: 30px 0
	text-align: center
	p
		margin: 0
		color: $text-grey

	+media('<tablet')
		margin: 20px 0
		font-size: 20px
		line-height: 24px

.footer
	.footer-banner
		width: 100%
		img
			display: block
			width: 100%
			height: auto

// .footer-logo
// 	margin: 30px 0 20px
// 	text-align: right
// 	+media('>=tablet', '<=ipad-pro')
// 		margin: 20px 0 10px
// 		img
// 			max-width: 200px
// 	+media('<tablet')
// 		margin: 20px 0 10px
// 		img
// 			max-width: 80vw

.popup-overlay
	position: fixed
	left: 0
	top: 0
	z-index: 199
	width: 100%
	height: 100%
	background: rgba($black, .4)
	display: none
	.sent-success &
		display: block
	.popup-result
		position: fixed
		z-index: 10
		left: 50%
		top: 50%
		+translate(-50%, -50%)
		background: $white
		color: $black
		+box-shadow(0px 2px 40px 0px rgba($black, 0.3))
		border: 1px solid darken($light-grey, 10)
		padding: 100px
		+border-radius(4px)

	.close-popup
		position: absolute
		right: -10px
		top: -10px
		z-index: 10
		background: $white
		padding: 6px
		+border-radius(20px)
		+box-shadow(0px 1px 10px 0px rgba($black, 0.3))
		width: 40px
		text-align: center
		height: 40px


.chat-messages-warp
	overflow: hidden
	overflow-y: auto
	font-size: 14px
	line-height: 16px
	height: 367px

	+media('>=desktop')
		.content-moderation &
			height: calc(100vh - 600px)

	+media('<desktop-large')
		height: 328px

	+media('<desktop')
		height: 233px

	+media('<tablet')
		height: 350px


.logged-status
	+display-flex
	+justify-content(space-between)
	+align-items(flex-end)
	font-size: 14px
	width: 100%
	padding: 10px 0
	height: 75px
	a
		color: white

	p
		margin: 0

	+media('<tablet')
		font-size: 15px
		+flex-flow(column nowrap)
		+align-items(flex-end)
		+justify-content(flex-end)
		padding-right: 10px
		height: 80px

.comment-form-container
	.content-live &
		background: $pink

	.form-row
		padding: 0
		margin: 0
		+display-flex
		+justify-content(space-between)
		+flex-flow(row nowrap)


#chatapp
	margin: 15px 0

	::-webkit-input-placeholder
		color: white

	:-ms-input-placeholder
		color: white


	::placeholder
		color: white


	.card-default 
		border-radius: 0
		border: none
		margin: 0
		> .card-header
			background: $pink
			color: white
			border-radius: 0
			font-size: 20px

	.card-body
		background: #e1e1e1
		border-radius: 0
		border: none
		padding: 0

	.btn-primary
		background: $blue
		color: $black
		border-radius: 0
		border: none
		height: 50px

	.form-control.input-sm
		width: 100%
		height: 50px
		border-radius: 0
		border: none
		background: $pink
		color: white !important
		font-size: 20px
		&:focus
			outline: none
			box-shadow: none

	+media('<tablet')
		margin: 0 0 15px





    
.popup-survey
	position: fixed
	z-index: 999
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: rgba($black, .5)
	display: none
	&.open
		display: block


.survey-form-container
	width: 480px
	max-width: 100%
	left: 50%
	z-index: 10
	position: absolute
	top: 50%
	+translate(-50%, -50%)
	font-size: 14px
	line-height: 20px
	background: white
	border-radius: 4px
	overflow: hidden
	padding: 30px
	max-height: calc(100% - 20px)
	overflow: hidden
	overflow-y: auto



