.content-moderation
	+moderator-text
	padding-top: 30px
	color: $dark-grey
	.column
		// +make-xs-column(12)
		// +make-col-ready
		// +make-col(sm, 4)
		// +make-sm-column(4)
		+make-col(12)
		+media-breakpoint-up(sm)
			+make-col(4)
			padding-left: 15px
			padding-right: 15px

	.column-2

		+make-col(12)
		+media-breakpoint-up(sm)
			+make-col(8)
			padding-left: 15px
			padding-right: 15px


	.live-embed-container
		position: relative
		overflow: hidden
		margin: -85px 0 20px
		img
			width: 100%
			height: auto
			+user-select(none)


	h1.page-title
		+page-title
		margin: 0 0 40px

	.backstage-heading
		+display-flex
		+justify-content(space-between)
		margin-bottom: 40px
	
	h2
		+moderator-title
		font-weight: 400
		padding: 0 15px 10px



	.toolbar
		position: fixed
		z-index: 20
		left: 0
		bottom: 0
		width: 100%

		.toolbar-content
			height: 110px
			background: $dark-grey
			+display-flex
			+flex-flow(row nowrap)
			+justify-content(space-between)
			padding: 22px


	input[type="text"]
		height: 60px
		width: 100%
		+border-radius(30px)
		border: none
		padding: 10px 30px
		line-height: 40px
		font-size: 24px

	button[type="submit"]
		background: transparent
		border: none
		display: block
		cursor: pointer
		height: 60px
		line-height: 40px
		padding: 5px 10px
	.form-group
		flex: 1
		&.form-group-comment
			flex: 5
			margin-right: 10px
	.form-row
		+display-flex
		+flex-flow(row nowrap)
		+justify-content(flex-start)

	.comment-form-container
		width: 50%

	.timer-container
		label
			color: $light-grey
			font-size: 24px
			line-height: 40px
			padding: 9px 20px 10px 0
			// padding-right: 15px
		button
			background: transparent
			margin: 0 10px
			border: none
			padding: 0


		input[type="text"]
			width: 140px
			margin-right: 10px

.blocks
	margin-bottom: 160px
	.item
		position: relative
		background: $light-grey
		margin: 0 0 10px
		padding: 10px 15px
		overflow: hidden

		border-left: 2px solid $green

		&.block-item-moderator
			background: $orange

	&.live-blocks 
		h2.error
			// +blink-error
			color: $red
		.item
			border-color: $blue

	&.archived-blocks .item
		border-color: $red

	.overlay
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		+display-flex
		+flex-flow(row nowrap)
		opacity: 0
		+translateY(-100%)
		+transition(opacity .3s ease, transform 0s)
		a
			+flex(1)
			background: transparentize($blue, .6)
			height: 100%
			width: 50%
			position: relative
			+overlay-text
			white-space: nowrap
			span
				position: absolute
				left: 50%
				top: 50%
				+translate(-50%, -50%)


		a.to-archive
			background: transparentize($red, .5)


	.item:hover 
		html.desktop &
			.overlay
				opacity: 1
				+translateY(0)

			h3, .comment-text, .date
				opacity: .25

	.item.hover 
		.overlay
			opacity: 1
			+translateY(0)
			

		h3, .comment-text, .date
			opacity: .25


	h3
		+moderator-title
		margin: 0 0 5px

	.comment-text
		margin: 10px 0
		p
			margin: 0

	.date
		font-size: 16px
		text-align: right
		color: darken($light-grey, 50)

	
