.content-speaker

	.blocks.live-speaker-blocks
		+display-flex
		+flex-flow(row wrap)
		+justify-content(center)
		+align-content(center)
		padding: 40px 0 0
		margin: 0 0 40px
		width: 100%
		.block-column
			padding: 0 10px
			flex: 0 1 50%
			margin-bottom: 20px 
			overflow: hidden

			.item
				height: 100%
				margin-bottom: 0
				+speaker-text
			h3
				+speaker-title

			.overlay a
				+speaker-text

	.speaker-timer-container
		padding-bottom: 40px
		width: 100%
	.speaker-timer
		height: 132px
		+border-radius(60px)
		width: 50%
		margin: 0 auto
		font-size: 50px
		line-height: 130px
		text-align: center
		+font-semibold
		&.good
			background-color: $light-green
		&.poor
			background-color: $orange

		&.expired
			background-color: $light-red
			color: $black
			+blink

	+media('>=tablet', '<ipad-pro')
		.speaker-timer
			height: 100px
			line-height: 100px

	+media('>=tablet', '<desktop')
		.speaker-timer
			width: 70%



